/* Block2 Workshop picture box */

.picture-box {
    font-size: 17px;
    max-width: 340px;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        color: #FF7E03;
    }
}

/* flex, where picture boxes are placed in */
.picture-box-flex {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-basis: auto;
    justify-content: space-between;
    column-gap: 80px;
    margin-bottom: 40px;
}
