.logo {
    svg path {
        fill: black;
        @at-root {
            .background-orange #{&} {
                fill: white;
            }
            .background-black #{&} {
                fill: white;
            }
        }
    }
}
