/* Default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #4A4A4A;
}

h2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

.content {
    /*position: absolute;*/

    font-family: "SourceSansPro";
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    /* or 126% */

    color: #4A4A4A;
}

.layout {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.background-orange {
    background: linear-gradient(0deg, rgba(255, 133, 22, 0.5), rgba(255, 133, 22, 0.5));
    color: #ffffff;
}

.background-black {
    color: #ffffff;
    background-color: #353535;
}

.logo svg path {
    fill: deeppink;
}

.background-orange .logo svg path {
    fill: white;
}

/* Block1 - CHOOSE FLUTTER TO CHOOSE BOTH */

#block1 h1 {
    font-family: "FiraSans";
    font-weight: 800;
    font-size: 128px;
    text-align: center;
    text-transform: uppercase;
}

/* Block2 - WORKSHOP */


/* Block3 - WHEN AND WHERE */


/* Block3 - WHO */


/* Block5 - GET READY */


/* Block6 - ORGINIZERS */

#block6 h2 {
    color: #000000;
}




/* Connecting fonts */

/* Fira Sans */

@font-face {
    font-family: "FiraSans"; 
    src: url("./assets/fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: 400; 
}

@font-face {
    font-family: "FiraSans"; 
    src: url("./assets/fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 700; 
}

@font-face {
    font-family: "FiraSans"; 
    src: url("./assets/fonts/Fira_Sans/FiraSans-ExtraBold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 800; 
}

/* Open Sans */

@font-face {
    font-family: "OpenSans"; 
    src: url("./assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: 400; 
}

@font-face {
    font-family: "OpenSans"; 
    src: url("./assets/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 700; 
}

@font-face {
    font-family: "OpenSans"; 
    src: url("./assets/fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 800; 
}

/* Source Sans Pro */

@font-face {
    font-family: "SourceSansPro"; 
    src: url("./assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: 400; 
}

@font-face {
    font-family: "SourceSansPro"; 
    src: url("./assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 700; 
}

@font-face {
    font-family: "SourceSansPro"; 
    src: url("./assets/fonts/SourceSansPro/SourceSansPro-ExtraBold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 800; 
}