/* Default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "SourceSansPro";
    font-size: 19px;
    line-height: 24px;
    font-weight: normal;
    color: #4A4A4A;
}

h2 {
    font-family: "FiraSans";
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.content {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 40px;
    padding-bottom: 60px;
}

.layout {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 50px;
    padding-bottom: 60px;
}

/* Backgrounds */

.background-orange {
    background: linear-gradient(0deg, rgba(255, 133, 22, 0.5), rgba(255, 133, 22, 0.5));
    color: #ffffff;
}

.background-black {
    color: #ffffff;
    background-color: #353535;
}

/* Logo color change */

.logo svg path {
    fill: black;
}

.background-orange .logo svg path {
    fill: white;
}

.background-black .logo svg path {
    fill: white;
}

/* Block2 Workshop structures */

.picture-box {
    font-size: 17px;
    max-width: 340px;
}

.picture-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.picture-box h3 {
    font-family: "FiraSans";
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;

    color: #FF7E03;
    margin-bottom: 22px;
}

.picture-box-flex {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    flex-basis: auto;
    justify-content: space-between;
    column-gap: 80px;
    margin-bottom: 40px;
}

/* Style of header with title, date and register button on top of each block */

.block-header-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 60px;
}

.block-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin-bottom: 60px;
}

/* Button style */

button {
    width: 186px;
    height: 66px;
    color: white;
    background: linear-gradient(0deg, #FF7E03, #FF7E03);
    border: 0;

    font-family: "OpenSans";
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}

.background-orange button {
    color: #4A4A4A;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.block-header button {
    width: 146px;
    height: 46px;
    font-size: 14px;
    line-height: 19px;
    background: none;
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    box-sizing: border-box;
}

.background-black .block-header button {
    color: white;
    border-color: white;
}

/* Block1 - CHOOSE FLUTTER TO CHOOSE BOTH */

#block1 h1 {
    font-family: "FiraSans";
    font-weight: 800;
    font-size: 128px;
    text-align: center;
    text-transform: uppercase;
}

/* Connecting fonts */

/* Fira Sans */

@font-face {
    font-family: "FiraSans"; 
    src: url("./assets/fonts/Fira_Sans/FiraSans-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: 400; 
}

@font-face {
    font-family: "FiraSans"; 
    src: url("./assets/fonts/Fira_Sans/FiraSans-Bold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 700; 
}

@font-face {
    font-family: "FiraSans"; 
    src: url("./assets/fonts/Fira_Sans/FiraSans-ExtraBold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 800; 
}

/* Open Sans */

@font-face {
    font-family: "OpenSans"; 
    src: url("./assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: 400; 
}

@font-face {
    font-family: "OpenSans"; 
    src: url("./assets/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 700; 
}

@font-face {
    font-family: "OpenSans"; 
    src: url("./assets/fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 800; 
}

/* Source Sans Pro */

@font-face {
    font-family: "SourceSansPro"; 
    src: url("./assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: 400; 
}

@font-face {
    font-family: "SourceSansPro"; 
    src: url("./assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 700; 
}

@font-face {
    font-family: "SourceSansPro"; 
    src: url("./assets/fonts/SourceSansPro/SourceSansPro-ExtraBold.ttf") format("truetype");
    font-style: normal; 
    font-weight: 800; 
}